.search-input:focus{
    outline: 0.14em solid #54575a;
    border-radius: none;
}
nav ul li{
    /* width: 100px; */
    justify-content: center;
    text-align: center;
    align-items: center;
}
nav ul li:not(:first-child):before{
    content: "|";
    position: absolute;
    color:#54575a;
}
nav ul li a{
    text-decoration: none;
    padding: 0px 16px;
    text-align: center;
    font-weight: bold;
}