

/* /////............  
          books details style
.......///// */

.container-width{
    max-width: 1280px;
}
.img-box{
    padding: 10px;
    transition: .4s;
}
.img-box:hover{
        border: 1px solid black;
}
.icon-border{
    border: 1px solid rgba(0, 0, 0, 0.402);
}
  