.search-input:focus {
  outline: 0.14em solid #54575a;
  border-radius: none;
}
.user-section .dropdown-content {
  border: 1px solid #54575a;
}
.user-section .dropdown-content li {
  padding: 2px 0px;
}

.user-section .dropdown-content li:hover {
  background: #ddd;
  /* border-left: 2px solid black; */
}
.user-section .dropdown-content li:hover:before {
  content: ">";
  position: absolute;
  width: 2px;

  color: #54575a;
}

.user-section .dropdown-content li a {
  font-size: 14px;
  padding: 6px 15px;
}

nav ul li {
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom:  12px;
}

nav ul li:not(:first-child):before {
  content: "|";
  position: absolute;
  color: #54575a;
}

nav ul li a {
  text-decoration: none;
  padding: 0px 16px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}


.modal-box{
  margin: 0 auto;
  width: 840px;
  border-radius: 0;
} 
/* ############################# */
.second-dropdown .dropdown-content {
  border: 1px solid #54575a;
}
.second-dropdown .dropdown-content li {
  padding: 2px 0px;
}

.second-dropdown .dropdown-content li:hover {
  background: #ddd;
  /* border-left: 2px solid black; */
}
.second-dropdown .dropdown-content li:hover:before {
  content: ">";
  position: absolute;
  width: 2px;

  color: #54575a;
}

.second-dropdown .dropdown-content li a {
  font-size: 13px;
  padding: 6px 15px;
}